google-cloud-aiplatform[evaluation]>=1.133.0
pandas>=2.3.1
google-genai>=2.0.0
google-antigravity>=0.1.5
google-api-python-client>=2.115.0
google-cloud-dlp>=3.31.0
more_itertools>=10.7.0
google-cloud-firestore>=2.15.0
